<!-- <ul>
    <li *ngFor="let pais of paises">
        {{ pais.name }} - {{ pais.population | number}}</li>
</ul> -->

<div class="card-columns">
    <div class="card" *ngFor="let cancion of nuevasCanciones">
        <img [src]="cancion.images | noimage" class="card-img-top" [alt]="cancion.name">
        <div class="card-body">
            <h5 class="card-title">{{ cancion.name }}</h5>
            <p class="card-text">
                <span class="badge badge-pill badge-primary" *ngFor="let artista of cancion.artists">
                    {{ artista.name }}
                </span>
                <span class="badge badge-pill badge-warning">
                    {{ cancion.total_tracks }} canciones
                </span>
                <span class="badge badge-pill badge-success">
                    {{ cancion.release_date | date:'y'}}
                </span>
            </p>
        </div>
    </div>
</div>